.title {
  width: 100%;
  height: 25px;
  background: #ffffff;
  color: rgb(0 0 0 / 60%);
  text-align: center;
}

.pageContainer {
  background-color: #ECECEC;
  height: 100vh;
  overflow: hidden;
}

.title button {
  height: 25px;
}

.menuBtn {
  display: flex;
  position: absolute;
  right: 10px;
  top: 0;
}

.handleMenu {
  position: absolute;
  left: 10px;
  top: 0;
}

.noIndexWarning {
  color: red;
  font-weight: bold;
  font-size: 2rem;
}

.recordContainer {
  display: flex;
  height: calc(100vh - 25px);
}

.searchList {
  margin: 15px;
  width: 100%;
}

.manageContainer {
  margin: 15px;
  overflow: auto;
  height: calc(100vh - 55px);;
}

.editArea {
  margin: 15px 15px 15px 0;
}

.editAreaClose {
  animation: fadeOut 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s 1 both;
}

.editAreaOpen {
  transition: none;
  animation: fadeIn 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s 1 both;
}

@keyframes fadeIn {
  0% {
    width: 0px;
  }

  100% {
    width: 500px;
  }
}

@keyframes fadeOut {
  0% {
    width: 500px;
  }

  100% {
    width: 0px;
  }
}
