<div class="pageContainer">
  <div class="title">
    <div class="menuBtn">
      <button nz-button nzType="primary" class="mr-2" (click)="clearRecode()">新建
      </button>
      <button nz-button nzType="primary" (click)="isEditAreaOpen = !isEditAreaOpen">
        <i nz-icon nzType="menu" nzTheme="outline"></i>
      </button>
    </div>
  </div>
  <div class="mainContainer">
    <div class="searchList">
      <app-search-list></app-search-list>
    </div>
    <div class="editArea" [class.editAreaOpen]="isEditAreaOpen"
    [class.editAreaClose]="!isEditAreaOpen">
      <app-edit-area></app-edit-area>
    </div>
  </div>
</div>